<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hw1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/icon.min.css">
  </head>
  <body>
    <div id="clock"  >
      <p class="time" @click='test()'>{{minutes_ten}}{{minutes_one}}:{{seconds_ten}}{{seconds_one}}</p>
    </div>
    <div id="game">
      <div id="num">
        <p >{{flag_count}}/{{mine_count}}</p>
      </div>
      <div id="row" v-for="line in map" >
        <button  id='dot' v-for="dot in line" @click.left='detect({dot})' @click.right.prevent='mark({dot})'> 
          {{dot.show}}
          <i v-if='{dot}.dot.boom' class='bomb icon'></i>
          <i v-if='{dot}.dot.flaged' class='flag icon'></i>
        </button>
      </div>
      <p id='trig' >{{trig}}</p>
    </div>
    <p> 
      <img id = 'head' src = 'https://scontent.fkhh1-2.fna.fbcdn.net/v/t1.0-9/20768226_1606876702680214_6860152103161696919_n.jpg?_nc_eui2=v1%3AAeFuZyc5jwUJyzcyA6ZBTV5r3VuUgWP8Ddmi9gZZCP_l7JrEHp_7ReWhlsL_d2F1XIRo8UqkJ2N5cj2gyRGDaDIp0mUnZ6OVcMCOFKqLOdQyjQ&oh=f1932f98fbc4f2893957772d5c75fdf8&oe=5B3A8A90'>
      這是我做的踩地雷喔!玩玩看吧!^.^</p>

    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="index.js"></script>
  </body>
</html>
